<div class="container login">
  <div class="row">
    <section class="inner">
      <h2 class="section-ttl">ログイン</h2>
      <p id="notice"><%= alert %></p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mb2">
          <%= f.label :email,"メールアドレス" %><br />
          <%= f.email_field :email, :size=>"60", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field mb2">
          <%= f.label :password %><br />
          <%= f.password_field :password, :size=>"60", autocomplete: "current-password" %>
        </div>


        <div class="actions">
          <%= f.submit "ログイン", class: "btn--radius" %>
        </div>
      <% end %>

    </section>
  </div>
</div>