<div class="tag-table">
  <%# キーワード検索 %>
  <%= form_with url: search_admin_articles_path, local: true, method: :get do |search| %>
    <%= search.text_field :title, :size=>"19", placeholder:"本のタイトル" %>
    <%= search.submit "検索", class: "btn--radius" %>
  <% end %>
  <h6>
    全てのタグから探す
    <%# タグ一覧推移 %>
    <%= link_to admin_tags_path, class: "link" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  </h6>
  <%# 最近追加されたタグ6つ表示 %>
  <% @tags.each do |tag| %>
    <ul>
      <li>
        <%= link_to "#{tag.tag_name} ( #{tag.articles.count} )", admin_tag_path(tag), class: "link" %>
      </li>
    </ul>
  <% end %>
</div>