<div class="container user_edit">
  <div class="row">
    <div class="inner_user">
      <h4 class="section-ttl">プロフィール編集</h4>
      <%= form_with model: @user, url: user_path, method: :patch do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td></td>
              <td><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></td>
            </tr>
            <tr>
              <td>あなたの ID</td>
              <td><%= @user.id %></td>
            </tr>
            <tr>
              <td>ユーザーネーム</td>
              <td><%= f.text_field :name, :size=>"30" %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= f.text_field :email, :size=>"30" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "登録する", class: "btn--radius" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>