  <div class="container">
    <div class="row">
      <div class='col-md-3'>
        <%= render 'index', tag: @tags %>
      </div>

      <div class='col-md-8 offset-md-1'>
      <table class="table">
        <% @articles.each do |article|%>
          <tbody>
            <tr>
              <th scope="row">
                <%= link_to admin_user_path(article.user.id) do %>
                   <%= image_tag article.user.get_profile_image(80,80), class: "image" %>
                <% end %>
              </th>
              <td valign="bottom">
                 <%= link_to admin_article_path(article.id), class: "link" do %>
                    <%= article.title %>
                  <% end %>
              </td>
              <td valign="bottom"><%= article.content %></td>
              <td valign="bottom">
                <%= link_to "#{article.comments.count} コメント", admin_article_path(article.id), class: "link"%>
              </td>
            </tr>
            <tr>
          </tbody>
        <% end %>
      </table>

    </div>
  </div>


