  <div class="container">
    <div class="row">
      <div class='col-md-3'>
        <%# サイドブロック タグ %>
        <%= render 'tag', tag: @tags %>
      </div>

      <div class='col-md-8 offset-md-1'>
        <table class="table">
          <%# 投稿一覧 %>
          <% @articles.each do |article|%>
          <tbody>
            <tr>
              <th scope="row">
                <%# アイコン %>
                <%= link_to admin_user_path(article.user.id) do %>
                   <%= image_tag article.user.get_profile_image(80,80), class: "image" %>
                <% end %>
              </th>
              <td valign="bottom">
                <%# タイトル %>
                <%= link_to admin_article_path(article.id), class: "link" do %>
                  <%= article.title %>
                <% end %>
              </td>
              <td valign="bottom">
                <%# コメント数 %>
                <%= link_to "#{article.comments.count} コメント", admin_article_path(article.id), class: "link"%>
              </td>
            </tr>
            <tr>
          </tbody>
        <% end %>
      </table>
      </div>
    </div>
    <div class="pagination"><%= paginate @articles %></div>
  </div>


