  <div class="container">
    <div class="row">
      <div class='col-md-3'>
        <%= render 'public/articles/index', tag: @tag %>
      </div>

      <div class='col-md-8 offset-md-1'>
        <table class="table table-borderless">
          <% @articles.each do |article|%>
            <tbody>
              <tr>
                <th scope="row">

                  <%= link_to user_path(article.user.id) do %>
                     <%= image_tag article.user.get_profile_image(80,80) %>
                  <% end %>

                  <p></p>
                </th>
                <td>
                   <%= link_to article_path(article.id), class: "link" do %>
                      <%= article.title %>
                    <% end %>
                </td>
                <td><%= article.content %></td>
                <td>
                  <%= link_to "#{article.comments.count} コメント", article_path(article.id), class: "link" %>
                </td>
              </tr>
              <tr>
            </tbody>
          <% end %>
        </table>
      </div>

    </div>
  </div>
