<div class="container tag_show">
  <div class="row">
    <div class="inner_tag">
      <h4 class="section-ttl">
        タグが"<%= @tag.tag_name%>"の投稿一覧
        <%= link_to 'タグ削除', admin_tag_path(@tag), method: :delete, data: {confirm: '関連づいた記事のタグが空になりますがタグを削除しますか？'}, class: "btn btn btn--radius" %>
      </h4>
        <table class="table">
          <% @tag.articles.each do |article| %>
            <tbody>
              <tr>
                <th>
                  <%= link_to admin_user_path(article.user.id) do %>
                     <%= image_tag article.user.get_profile_image(80,80), class: "image" %>
                  <% end %>
                  <p></p>
                </th>
                <td><%= link_to article.title, admin_article_path(article), class: "link" %></td>
                <td>
                  <%= link_to "#{article.comments.count} コメント", admin_article_path(article.id), class: "link" %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
        <div><%= link_to '#タグ一覧', admin_tags_path, class: "link" %></div>
      </div>
    </div>
  </div>
</div>
