<main>
  <div class="container">
    <div class="row">
      <%= article.label :title, 'タイトル' %><br>
      <%= article.text_field :title %><br>
      <%= article.label :content, 'コンテンツ' %><br>
      <%= article.text_area :content %><br>
      <%= article.label :tag, 'タグ' %><br>
      <%= article.text_field :tag, value: @article.tags.pluck(:tag_name) %><br>
      <small>スペースで区切ることで複数指定できます。</small><br>
      <%= article.submit %>
    </div>
  </div>
</main>