  <div class="container">
    <div class="row">
      <div class='col-md-3'>
        <%# サイドブロック ユーザープロフィール %>
        <%= render 'public/users/list', bookmark: @bookmarks, user: @user %>
        <%# サイドブロック タグ %>
        <%= render 'public/articles/tag', tag: @tags %>
      </div>

      <div class='col-md-8 offset-md-1'>
        <div class="inner">
          <h4 class="section-ttl">投稿してみよう</h4>
          <%= form_with model: @article, url: articles_path, method: :post do |f| %>
            <div class="form-group">
              <%# タイトル %>
              <label>タイトル</label>
              <%= f.text_field :title, :size=>"60", placeholder:"例）本のタイトル名" %>
            </div>
            <div class="form-group">
              <%# 本文 %>
              <label>本文</label>
              <%= f.text_area :content, :size=>"60", placeholder:"おすすめの本について自由にお書きください" %>
            </div>
            <div class="form-group">
              <%# タグ %>
              <label>タグ(『、』で区切ると複数タグ登録できます)</label>
              <%= f.text_field :tag_names, :size=>"60", placeholder:"例）おにぎり,和食が食べたくなる!" %>
            </div>
            <%= f.submit '投稿する', class: "btn--radius" %>

          <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

