<main>
  <div class="container">
    <div class="row">
      <h3>新規投稿</h3>
      <%= form_with model: @article, url: '/articles', method: :post do |f| %>

        <label>タイトル</label>
        <p><%= f.text_field :title %></p>

        <label>本文</label>
        <p><%= f.text_area :content %></p>

        <label>タグ</label>
        <p><%= f.text_field :tag_names, placeholder:",で区切ってください" %></p>



        <%= f.submit '投稿' %>

      <% end %>

    </div>
  </div>
</main>