<main>
  <div class="container">
    <div class="row">
      <h5>タグが<%= @tag.tag_name%>の投稿一覧</h5>

      <% @tag_list.each do |list|%>
        <%= link_to list.tag_name, search_tag_path(tag_id: list.id) %>
        <%="(#{list.articles.count})" %>
      <% end %>

      <% @articles.each do |article| %>
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">
              <%=link_to article_path(article.id) do %>
                <%= article.title.truncate(25) %>
              <% end %>
            </h6>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</main>