<main>
  <div class="container">
    <div class="row">
        <table class='table table-hover table-inverse'>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.get_profile_image(100,100) %></br>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to article_path(@article.id) do %>
                <%= @article.title %>
              <% end %>
            </td>
            <td><%= @article.content %></td>
            <% if @article.user == current_user %>
              <td>
                <%= link_to 'Edit', edit_article_path(@article.id), class: 'btn btn-success btn-sm' %>
              </td>
              <td>
                <%= link_to 'Destroy', article_path(@article), method: :delete, class:'btn btn-danger btn-sm', "data-confirm" => "本当に削除しますか？" %>
              </td>
            <% end %>

            <% if @article.bookmarked_by?(current_user) %>
              <td><%= link_to "いいね♡を外す", article_bookmarks_path(@article), method: :delete %></td>
             <% else %>
              <td><%= link_to "いいね♡", article_bookmarks_path(@article), method: :post %></td>
            <% end %>
          </tr>
        </table>

      <% @article_tags.each do |tag| %>
        <%= link_to tag.tag_name, tag_path(tag) %><%="(#{tag.articles.count})" %>
      <% end %>

      <div>
        <p>コメント件数：<%= @article.comments.count %></p>
        <% @article.comments.each do |comment| %>
          <p><%= image_tag comment.user.get_profile_image(80,80) %></p>
             @<%= comment.user.name %>さん
             <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>
             <% if comment.user == current_user %>
               <%= link_to "削除", article_comment_path(comment.article, comment), method: :delete %>
             <% end %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@article, @comment] do |f| %>
          <%= f.text_area :body, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>

    </div>
  </div>
</main>