<main>
  <div class="container">
    <div class="row">
      <% @article_tags.each do |tag| %>
        <%= link_to tag.tag_name,search_tag_path(tag_id: tag.id) %><%="(#{tag.articles.count})" %>
      <% end %>

      <div>
        <p>コメント件数：<%= @article.comments.count %></p>
        <% @article.comments.each do |comment| %>
          <p><%= image_tag comment.user.get_profile_image(80,80) %></p>
             <%= comment.user.name %>
             <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>
             <% if comment.user == current_user %>
               <%= link_to "削除", article_comment_path(comment.article, comment), method: :delete %>
             <% end %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@article, @comment] do |f| %>
          <%= f.text_area :body, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>

    </div>
  </div>
</main>