<div class="container">
  <div class="row">
    <div class='col-md-3'>
      <%= render 'public/users/list', bookmark: @bookmarks, user: @user %>
      <%= render 'index', tag: @tags %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <table class='table'>
          <tr>
            <td>
              <%= link_to user_path(@user_id.id), class: "link" do %>
                <%= image_tag @user_id.get_profile_image(80,80), class: "image" %></br>
                <%= @user_id.name %>
              <% end %>
            </td>
            <td> <%= @article.title %></td>
            <td><%= @article.content %></td>
          </tr>
        </table>

        <% if @article.user == current_user %>
          <%= link_to '投稿編集', edit_article_path(@article.id), class: 'btn btn btn--radius' %>
          <%= link_to '投稿削除', article_path(@article), method: :delete, class:'btn btn btn--radius', "data-confirm" => "本当に削除しますか？" %>
        <% end %>

        <% if @article.bookmarked_by?(current_user) %>
          <%= link_to article_bookmarks_path(@article), method: :delete, class: "link" do %>
            お気に入りを外す<i class="fa-solid fa-star"></i>
          <% end %>
        <% else %>
          <%= link_to article_bookmarks_path(@article), method: :post, class: "link" do %>
            お気に入り登録<i class="fa-regular fa-star"></i>
          <% end %>
        <% end %>

        <h6>#タグ</h6>
        <% @article_tags.each do |tag| %>
          <%= link_to tag.tag_name,search_tag_path(tag_id: tag.id), class: "link" %><%="(#{tag.articles.count})" %>
        <% end %>

        <div class="comments card-text">
          <h6 class="mt-3"><%= @article.comments.count %>件コメント</h6>
          <% @article.comments.each do |comment| %>
            <div class="media border mb-3">
              <%= image_tag comment.user.get_profile_image(60,60), class:"bd-placeholder-img align-self-center mx-3 image";  %>
              <div>
                <p>
                  <%= link_to user_path(comment.user.id), class: "link" do %>
                    <%= comment.user.name %>
                  <% end %>
                  <%= comment.created_at.strftime('%Y/%m/%d') %>
                </p>
                <p><%= comment.body %></p>
                <% if comment.user == current_user %>
                  <%= link_to "削除", article_comment_path(comment.article, comment), method: :delete, class: "link" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="inner">
          <%= form_with model: [@article, @comment] do |f| %>
              <div>コメントする</div>
              <%= f.text_area :body, rows: '4', placeholder: "コメントをここに", :size=>"72" %>
            <%= f.submit "送信する", class: "btn--radius" %>
          <% end %>
        </div>
    </div>




    </div>

      </div>
    </div>

    </div>
  </div>
