<div class="container">
  <div class="row">
    <div class='col-md-3'>
      <%= render 'public/users/list', bookmark: @bookmarks, user: @user %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <div class="inner">
        <h4 class="section-ttl">タグが<%= @tag.tag_name%>の投稿一覧</h4>
        <table class="table">
          <% @tag.articles.each do |article| %>
            <tbody>
              <tr>
                <th>
                  <%= link_to user_path(article.user.id) do %>
                     <%= image_tag article.user.get_profile_image(80,80), class: "image" %>
                  <% end %>
                  <p></p>
                </th>
                <td><%= link_to article.title, article_path(article), class: "link" %></td>
                <td>
                  <%= link_to "#{article.comments.count} コメント", article_path(article.id), class: "link" %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
        <div><%= link_to '#タグ一覧', tags_path, class: "link" %></div>
      </div>
    </div>
  </div>
  <div class="paginate"><%= paginate @articles %></div>
</div>
