  <div class="container user_edit">
    <div class="row">
      <div class="inner_user">
        <h4 class="section-ttl">プロフィール編集</h4>
        <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td></td>
                <td><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></td>
              </tr>
              <tr>
                <td>あなたの ID</td>
                <td><%= @user.id %></td>
              </tr>
              <tr>
                <td>ユーザーネーム</td>
                <td><%= f.text_field :name, :size=>"30" %></td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td><%= f.text_field :email, :size=>"30" %></td>
              </tr>
              <tr>
                <td></td>
                <% if @user.is_active? %>
                  <td class="text-success">有効</td>
                <% else %>
                  <td class="text-secondary">退会</td>
                <% end %>
              </tr>
              <tr>
                <td></td>
                <td><%= f.submit "登録する", class: "btn--radius" %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
  	    <%= link_to admin_user_path(@user.id), class: "link" do %>
  	      <i class="fa-solid fa-left-long"></i>戻る
  	    <% end %>
      </div>
    </div>
  </div>
