<div class="container">
  <div class="row">
    <div class='col-md-3'>
      <%= image_tag @user.get_profile_image(80,80), class: "image" %>
      <table class="table">
        <tbody>
          <tr>
            <td>ID: <%= @user.id %></td>
          </tr>
          <tr>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>
              <%= link_to admin_bookmark_path(@user.id), class: "link" do %>
                お気に入り<i class="fa-solid fa-star"></i>
              <% end %>
            </td>
          </tr>
          <tr>
            <% if @user.is_active? %>
              <td class="text-success">有効</td>
            <% else %>
              <td class="text-secondary">退会</td>
            <% end %>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
      <%= link_to "編集", edit_admin_user_path, class: "btn btn btn--radius" %>
      <% if @user.is_active? %>
        <%= link_to "退会", admin_unsubscribe_path(@user.id), class: "btn btn btn--radius" %>
      <% end %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <div class="inner">
        <h5 class="section-ttl"><%= @user.name %>さんの投稿一覧</h5>
        <div class="rank">
          <%= link_to admin_rank_path, class: "link" do %>
            <i class="fa-solid fa-crown"></i>投稿のコメント数ランキング
          <% end %>
        </div>

        <table class='table'>
          <tbody>
            <% @articles.each do |article| %>
              <tr>
                <td>
                  <%= link_to admin_article_path(article.id), class: "link" do %>
                     <i class="fa-solid fa-book-open"></i> <%= article.title %>
                  <% end %>
                <br><%= article.content %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
    <div class="pagination">
      <%= paginate @articles %>
    </div>
