      <h3>My information</h3>      
      <p id="notice"><%= notice %></p>

      <%= image_tag @user.get_profile_image(80,80) %>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td><%=link_to "いいね♡", bookmarks_path(@bookmarks) %></td>
          </tr>
        </tbody>
      </table>
