
      <%= image_tag @user.get_profile_image(80,80) %>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td><%=link_to "いいね♡", bookmarks_path(@bookmarks) %></td>
          </tr>
          <tr>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
              <%= link_to "編集する", edit_user_path(@user.id), class: "btn btn btn--radius" %>
              <%= link_to "退会する", unsubscribe_path(@user.id), class: "btn btn btn--radius" %>

