<div class="container books">
  <div class="row">
    <div class="inner_books">
      <h4 class="section-ttl">コメント数ランキング</h4>
      <table class='table table-hover table-inverse'>
        <% last_comment = 0 %>
        <% j = 1 %>
        <tbody>
          <%# 投稿へのコメント数ランキング %>
          <% @my_ranks.each.with_index(1) do |article, i| %>
            <% if i == 1 %>
              <%# 最初の値をlast_commentに保存 %>
              <% last_comment = article.comments.count %>
            <% end %>
            <%# last_commentとコメント数を比べて同じなら同じ順位、違うなら次の順位表 %>
            <% if article.comments.count != last_comment %>
              <% j = i %>
              <tr>
                <td width="80">第<%= j %>位</td>
                <td>
                  <%= link_to article_path(article.id), class: "link" do %>
                    <i class="fa-solid fa-book-open"></i> <%= article.title %>
                  <% end %>
                  <br><%= article.content %>
                </td>
              <% last_comment = article.comments.count %>
            <% else %>
              <% last_comment = article.comments.count %>
              <tr>
                <td width="80">第<%= j %>位</td>
                <td>
                  <%= link_to article_path(article.id), class: "link" do %>
                    <i class="fa-solid fa-book-open"></i> <%= article.title %>
                  <% end %>
                  <br><%= article.content %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
  	    <%= link_to user_path(@user.id), class: "link" do %>
  	      <i class="fa-solid fa-left-long"></i>戻る
  	    <% end %>
    </div>
  </div>
</div>