<main>
  <div class="container">
    <div class="row">
      <h3>My information</h3>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td><%=link_to "いいね♡" %></td>
          </tr>
        </tbody>
      </table>

      <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th><%= link_to "編集する", edit_user_path(@user.id) %></th>
      <th><%= link_to "退会する", unsubscribe_path(@user.id) %></th>
    </tr>
  </tbody>
</table>


        <table>

        <h5>ブックマーク一覧</h5>
        <thead>
          <tr>
            <th>投稿者名</th>
            <th>タイトル</th>
            <th>本文</th>
          </tr>
        </thead>
        <tbody>
          <% @bookmarks.each do |bookmark| %>
            <tr>
              <td><%= bookmark.article.user.name %></td>
              <td>
                <%= link_to article_path(bookmark.article) do %>
                  <%= bookmark.article.title %>
                <% end %>
              </td>
              <td><%= bookmark.article.content %></td>
            </tr>
          <% end %>
        </tbody>
      </table>




    </div>
  </div>
</main>