  <div class="container">
    <div class="row">
      <div class='col-md-3'>
        <%# サイドブロック ユーザープロフィール %>
        <%= render 'list', bookmark: @bookmarks, user: @user %>
        <%# サイドブロック タグ %>
        <%= render 'public/articles/tag', tag: @tags %>

      </div>
      <div class='col-md-8 offset-md-1'>
        <div class="inner">
          <h5 class="section-ttl"><%= @user.name %>さんの投稿一覧</h5>
          <div class="rank">
            <%# 自分のページでは表示 %>
            <% if @user == current_user %>
              <%# コメントランキングページ推移 %>
              <%= link_to rank_path, class: "link" do %>
                <i class="fa-solid fa-crown"></i>投稿のコメント数ランキングを見る
              <% end %>
            <% end %>
          </div>
          <table class='table table-hover table-inverse'>
            <tbody>
              <%# ユーザーの投稿一覧 %>
              <% @articles.each do |article| %>
                <tr>
                  <td>
                    <%# タイトル %>
                    <%= link_to article_path(article.id), class: "link" do %>
                      <i class="fa-solid fa-book-open"></i> <%= article.title %>
                    <% end %>
                    <%# 本文 %>
                    <br><%= article.content %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="pagination"><%= paginate @articles %></div>
  </div>
