  <div class="container">
    <div class="row">
      <div class='col-md-3'>
        <%= render 'list', bookmark: @bookmarks, user: @user %>
        <%= render 'public/articles/index', tag: @tags %>

      </div>
      <div class='col-md-8 offset-md-1'>
        <div class="inner">
          <h5 class="section-ttl"><%= @user.name %>さんの投稿一覧</h5>
        <div class="rank">
          <% if @user == current_user %>
            <%= link_to rank_path, class: "link" do %>
              <i class="fa-solid fa-crown"></i>投稿のコメント数ランキングを見る
            <% end %>
          <% end %>
        </div>


          <table class='table table-hover table-inverse'>
            <tbody>
              <% @articles.each do |article| %>
                <tr>
                  <td>
                    <%= link_to article_path(article.id), class: "link" do %>
                      <i class="fa-solid fa-book-open"></i> <%= article.title %>
                    <% end %>
                    <br><%= article.content %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="pagination"><%= paginate @articles %></div>
  </div>
