  <div class="container">
    <div class="row">
      <div class='col-md-3'>
        <%= render 'list', bookmark: @bookmarks, user: @user %>
      </div>
      <div class='col-md-8 offset-md-1'>
        <p id="notice"><%= alert %></p>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
          <tr>
            <td>
              <%= link_to article_path(article.id) do %>
                <%= article.title %>
              <% end %>
            </td>
            <td><%= article.content %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
