<!DOCTYPE html>
<html>
  <head>
    <title>Guuruhon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <div class="row">

        <header>
          <div class="header_inner">
            <%= link_to (admin_signed_in? ? admin_top_path : root_path ) do %>
              <%= image_tag 'logo.png', size: "180x180" %>
            <% end %>
            <div class="header_description">
              美味しそうでぐぅ〜とお腹が鳴ってしまうような料理や食べ物が出てくる</br>
              おすすめ小説・エッセイなどを閲覧、投稿などできるサイトです。</br>
              <%= notice %><%= alert %>
            </div>
            <div class="header_search">
              <%= form_with url: search_articles_path, local: true, method: :get do |search| %>
                <%= search.text_field :title, placeholder:"本を詮索" %>
                <%= search.submit "検索" %>
              <% end %>
            </div>
          </div>
        </header>
      </div>
    </div>
    
        <nav class="navbar navbar-expand-lg" >
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <% if admin_signed_in? %>

            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <p><%= link_to "投稿一覧", admin_articles_path %></p>
              </li>
              <li class="nav-item active">
                <p><%= link_to "会員一覧", admin_users_path %></p>
              </li>
              <li class="nav-item active">
                <p><%= link_to "タグ一覧", admin_tags_path %></p>
              </li>
              <li class="nav-item active">
                <p><%= link_to "ログアウト", destroy_admin_session_path %></p>
              </li>
              </ul>
      <% elsif user_signed_in? %>
                <li class="nav-item active">
                  <p><i class="fas fa-arrow-right"></i><%= link_to "マイページ", user_path(current_user.id) %></P>
                </li>
                <li class="nav-item active">
                  <p><%= link_to "みんなのおすすめ", articles_path %></p>
                </li>
                <li class="nav-item active">
                  <p><%= link_to "お気に入り♡", bookmarks_path(current_user.id) %></p>
                </li>
                <li class="nav-item active">
                  <p><%= link_to "ログアウト", destroy_user_session_path %></p>
                </li>
              </ul>

      <% else %>
                <li class="nav-item active">
                  <p><%= link_to "HOME", root_path %></p>
                </li>
                <li class="nav-item active">
                  <p><%= link_to "新規登録", new_user_registration_path %></p>
                </li>
                <li class="nav-item active">
                  <p><%= link_to "ログイン",  new_user_session_path %></p>
                </li>
                <li class="nav-item active">
                  <p><%= link_to 'ゲストログイン（閲覧用）', guests_guest_sign_in_path, method: :post %></p>
                </li>
              </ul>
      <% end %>
            </div>
         </nav>

  <main style="background-color:#fffaf0;">
    <%= yield %>
  </main>

  <footer>
    <div class="container mt-5">
      <div class="row">
        <div  class="mx-auto">
          <div>Logo made by <a href="https://www.designevo.com/" title="Free Online Logo Maker">DesignEvo free logo creator</a></div>
        </div>
      </div>
    </div>
  </footer>

  </body>

</html>
